.jumbotron {
  margin-top: 50px;
  background-color: #f7f728;
}
.navbar {
  background-color: #CD5C5C;
}
.card {
  background-color: #FFA07A;
}
.btn {
  background-color: White;
  outline-color: #CD5C5C;
  color: #CD5C5C;
}
.botonIndex {
  align-items: center;
  justify-content: center;
  display: flex;
}
