$yellow: #FFFFFA;

@mixin margenes($top){
	margin-top: $top;
	margin-bottom: $bottom;
	outline-color: $color;	
}

@mixin paddinng($top,$right,$bottom,$left){
	padding-bottom:$bottom;
	padding-left:$left;
	padding-right:$right;
	padding-top:$top;
}

@mixin colores($color){
	color:$color;
}

.jumbotron {
	background-color: #CD5C5C;
	@include margenes(0px);	
}
.navbar{
	background-color: #CD5C5C;
}

.card{
	background-color:#FFA07A;
}

.btn{	
	background-color: White;
	outline-color: #CD5C5C;
	color:#CD5C5C;	
}

.botonIndex{
	align-items: center;
	justify-content: center;
	display: flex;
}

p
{
	color: white;
}

a
{
    color: white;
}

footer {
	padding: 10px 10px 0 10px;
	background-color: #CD5C5C;
	margin-bottom: 0px;
	margin-top: 10px
}

.modal{
	background-color:#F08080;
}

.modal-title{
	color: black;
}

.card-hotel{
	flex: 1 200px;
	margin-top: 5px;
	
}

.btn-reserva{
	width: 100%;
	border-radius: 0px;
	background-color: #EACD40;
}

.footer-address-icon{
	padding-right:10px;
}

h1, h2, h3, h4, h5, h6
{
    font-size: 1.5em;
    color: #FCF8F7;
    font-variant: small-caps;
    text-transform: none;
    font-weight: 200;
    margin-bottom: 0px;
    text-align: center;
}