@yellow: #f7f728;
.margenes(@top){
	margin-top: @top;	
}

.jumbotron {
	.margenes(50px);
	background-color: @yellow;
}

.navbar{
	background-color: #CD5C5C;
}

.card{
	background-color:#FFA07A;
}

.btn{	
	background-color: White;
	outline-color: #CD5C5C;
	color:#CD5C5C;	
}

.botonIndex{
	align-items: center;
	justify-content: center;
	display: flex;
}